<div class="content" style="padding-bottom: 5px; padding-top: 0px; padding-left: 20px; padding-right: 20px;font-family:arial; font-size:13px;line-height:15px;color:#4d4d4d;">
  Dear [EMV FIELD]FIRSTNAME[EMV /FIELD],<br>
  <br>
  <ul>
    <li>
      a breakdown of where you've earned your Rewards
    </li>
    <li>
      find out where you could be earning more
    </li>
    <li>
      trade-up your Rewards for vouchers of a higher value
    </li>
    <li>
      donate your Rewards to charity
    </li>
    <li>
      exchange your Rewards for cash.
    </li>
  </ul>
</div>

<div>
  Dear [EMV FIELD]FIRSTNAME[EMV /FIELD],
  <br>
  <br> Great news. You've already earned a total of £[EMV FIELD]LVTOTALEARNING[EMV /FIELD].00 since joining the MyRewards programme.
  <br>
  <br> To discover more, simply log into your MyRewards account where you can:
  <br>
  <div style="margin-left:30px">
    - see a breakdown of where you've earned your Rewards
    <br> - find out where you could be earning more
    <br> - trade-up your Rewards for vouchers of a higher value
    <br> - donate your Rewards to charity
    <br> - exchange your Rewards for cash.
    <br>
  </div>
</div>